<div class="project_list" data-flickity='{ "wrapAround": "true"}'>
    {{range $.Site.Data.projects}}
    <div class="card">
        <div class="container">
            <h3 class="title">{{.name}} - <a>{{.short_desc}}</a></h3>
            <div class="links">
            {{range $i, $e := .links}}
            <a href="{{$e.link}}" style="text-decoration: none; font-family: 'Open Sans';">
                {{if $i}}| {{end}}{{$e.link_name}}</a>
            {{end}}
        </div>
        <div class="desc">
            <p>{{.desc}}</p>
                <div class="techlist">{{range .techlist}}
                    <p class="button" style="background-color: {{index $.Site.Data.colors .}};">{{.}}</p>
                      {{end}}</div>
        </div>
        </div>
    </div>
    {{end}}
</div>

<!-- data-flickity='{ "wrapAround": "true"}' -->