:root {
    --font : 'Montserrat';
    --light: #B2CEDE;
    --dark: #395B50;
    --darker: #AD7A99;

    --background: var(--light) !important;
    --highlight: var(--dark) !important;
    --header: var(--darker) !important;
}

/* courses */
div.classes {
    margin: auto;
    width: 80%;
    font-family: var(--font);
}

div.classes p.short_desc {
    font-size: 15px;
}

div.classes p.course {
    font-size: 18px;
}

div.classes h3 {
    font-size: 25px;
}

div.classes h4 {
    font-size: 25px;
}

div.classes div.terms {
    display: flex;
    margin: 10px;
    padding: 10px;
}

/* courses */