/*header*/
header {
    padding-top: 2vh;
    width: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
    font-family: var(--font);
    font-weight: 800;
    font-size: 2em;
    color: black;
}

header a:hover {
    color: var(--header);
}

/*header*/