:root {
    --font : 'Montserrat';
    --light: #BCD2EE;
    --dark: #EE5622;
    --darker: #938BA1;

    --background: var(--light) !important;
    --highlight: var(--dark) !important;
    --header: var(--darker) !important;
}

/*header*/
header {
    padding-top: 2vh;
    width: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
    font-family: var(--font);
    font-weight: 800;
    font-size: 2em;
    color: black;
}

header a.curr {
    text-decoration: none;
    font-family: var(--font);
    font-weight: 800;
    color: var(--header);
}

header a:hover {
    color: var(--header);
}
/*header*/