:root {
    --font : 'Montserrat';
    --light: #B2CEDE;
    --dark: #395B50;
    --darker: #AD7A99;

    --background: var(--light) !important;
    --highlight: var(--dark) !important;
    --header: var(--darker) !important;
}

/* landing */
#landing {
    width: 60%;
    height: fit-content;
    margin: auto;
}

#landing img.shibe {
    height: 50px;
}

div.landing p {
    font-family: 'Open Sans';
    text-align: left;
}

div.landing p.statement a.highlight {
    text-decoration: none;
    color: var(--highlight);
    font-weight: 700;
}

div.music {
    display: block;
}

div.landing h1.header a.name {
    color: var(--header);
}

div.landing h1.header {
    font-family: var(--font);
    font-weight: 800;
    font-size: 3em;
}

div.landing h3.lesser-header {
    font-family: var(--font);
    font-weight: 800;
    font-size: 1.5em;
}
/*landing*/