:root {
    --font : 'Montserrat';
    --light: #BCD2EE;
    --dark: #EE5622;
    --darker: #938BA1;

    --background: var(--light) !important;
    --highlight: var(--dark) !important;
    --header: var(--darker) !important;
}

@media (max-width: 768px) {
    div.projects div.display {
        display: flex;
        flex-direction: column;
    }
    div.bio p.desc {
        font-size: 10px;
    }
    div.bio img {
        width: 90vw;
    }
    div.failures {
        width: 85%;
    }

    div.projects {
        width: 90%;
    }
    
    div.classes div.terms {
        display: flex;
        flex-direction: column-reverse;
    }

    div.classes {
        width: 80%;
    }

    #landing div.music {
        display: none;
    }

    header a {
        font-size: 15px;
    }

    /* landing */
    div.landing p.statement {
        font-size: 15px;
    }

    div.landing h3.lesser-header {
        font-size: 20px;
    }

    div.landing h1.header {
        font-size: 25px;
    }
    /* landing */

    /* bio */
    div.bio {
        width: 90%;
    }

    div.outer-bio {
        display: flex;
        flex-direction: column;
    }

    #landing img.shibe {
        height: 25px;
    }

    div.bio h2 {
        font-size: 25px;
    }

    div.bio p.bio {
        font-size: 15px;
    }

    div.classes h2 {
        font-size: 25px;
    }

    /* bio */
    div.projects h2 {
        font-size: 25px;
    }

    div.failures h2 {
        font-size: 25px;
    }

    #contact img {
        height: 8vw;
    }

    #contact div.links {
        display: none;
    }

    #contact div.mobile {
        display: contents;
        display: flex;
        justify-content: space-around;
    }

    /* list and baseof */
    h2.title {
        font-size: 25px;
        padding-left: 10vw;
    } 
    
    div.container div.blog-list {
        margin: auto;
        width: 85%;
    }

    div.date-and-tags p.time {
        font-size: 12px;
    }
    
    div.date-and-tags div.tags p.btn {
            padding: 5px;
            bottom: 0;
            width: fit-content;
            height: min-content;
            border-radius: 5px;
            margin-bottom: -5px;
            margin-left: 5px;
            font-size: 9px;
    }

    div.container div.blog-list div.title-summary div.title-date {
        display: flex; 
        flex-direction: column; 
    }
    
    /* single */
    div.post {
        width: 85%;
    }
    
    div.post div.tags-title h1 {
        font-size: 15px;
    }
}
