@import url("card.css");
@import url("about.css");
@import url("header.css");
@import url("landing.css");
@import url("fails-proj.css");
@import url("footer.css");
@import url("courses.css");
@import url("mobile.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
    --font : 'Montserrat';
    --light: #BCD2EE;
    --dark: #EE5622;
    --darker: #938BA1;

    --background: var(--light) !important;
    --highlight: var(--dark) !important;
    --header: var(--darker) !important;
}

html {
    overflow-x: hidden;
    max-width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    height: fit-content;
    background-color: var(--background);
}

h2 {
    font-family: var(--font);
    font-weight: 800;
    font-size: 3em;
    padding-left: 5vw;
}

h2:hover {
    color: var(--header);
}

