<!DOCTYPE html>
<html lang="en">
    {{partial "head.html" .}}
    
    <header>
        <a href="{{ .Site.BaseURL }}">home </a>
        <a href="{{ .Site.BaseURL }}/about" class="curr">about </a>
        <a href="{{ .Site.BaseURL }}/classes">courses </a>
        <a href="{{ .Site.BaseURL }}/projects">projects </a>
        <a href="{{ .Site.BaseURL }}/failures">failures </a>
    </header>
    
    <div class="bio" id="bio">
        <h2>💼 work and experience</h2>
        {{ range $.Site.Data.jobs }}
        <div class="job card">
                <div class="space-between">
                    <h3 class="role">{{.name}} at <a href="{{.site}}" class="highlight">{{.company}}</a></h3>
                    <p class="duration">{{.date}}</h4>
                </div>
            <p class="desc">{{.description}}</p> 
        </div>
        {{ end }}

        <h2>💁🏻 about</h2>
        <div class="outer-bio"> 
            <div class="intro">
                <p class="bio">
                    ✨ Thanks for checking out my site! I'm a chemistry nerd and aspiring developer who is interested in health tech, fintech and environmental tech.
                    If you want to learn more about me feel free to email me at
                    <a href="mailto:hao.lucyy@gmail.com" class="highlight">hao.lucyy@gmail.com</a> and/or check out my resume!
                </p>
                <a href="/res/resume.pdf" style="text-decoration: none; color: black;" target="_blank"><div class="button">
                    <p class="resume" style="padding: 5px;">Resume</p>
                </div></a>
            </div>
            <img src="/res/profile.svg" alt="/res/profile.png">
        </div>
    </div>
    <br>
</html>