<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lucy Hao: about</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <header>
        <a href="{{ .Site.BaseURL }}">home </a>
        <a href="{{ .Site.BaseURL }}/about" class="curr">about </a>
        <a href="{{ .Site.BaseURL }}/classes">courses </a>
        <a href="{{ .Site.BaseURL }}/projects">projects </a>
        <a href="{{ .Site.BaseURL }}/failures">failures </a>
    </header>
    
    <div class="bio" id="bio">
        <h2>💁🏻 about</h2>
        <div class="outer-bio"> 
            <div class="intro">
                <p class="bio">
                    ✨ Hi, and thanks for checking out my site! I'm a chemistry nerd and aspiring developer who is interested in the health tech, fintech and environmental tech.
                    If you want to learn more about me feel free to email me at
                    <a href="mailto:hao.lucyy@gmail.com" class="highlight">hao.lucyy@gmail.com</a> and/or check out my resume!
                </p>
                <a href="/res/resume.pdf" style="text-decoration: none; color: black;" target="_blank"><div class="button">
                    <p class="resume" style="padding: 5px;">Resume</p>
                </div></a>
            </div>
            <div class="img">
                <img src="/res/profile.svg" alt="/res/profile.png">
            </div>
        </div>
    </div>
    <br>
</html>