<!DOCTYPE html>
<html lang="en">
    {{partial "head.html" .}}
    
    <header>
        <a href="{{ .Site.BaseURL }}">home </a>
        <a href="{{ .Site.BaseURL }}/about">about </a>
        <a href="{{ .Site.BaseURL }}/classes">courses </a>
        <a href="{{ .Site.BaseURL }}/projects">projects </a>
        <a href="{{ .Site.BaseURL }}/failures" class="curr">failures </a>
    </header>
    
    <div class="failures">
        <h2>🤷🏻 failures</h2>
        <p class="statement" style="font-size: large;">Because everyone fails once in a while. No one is perfect!</p>
        {{range $.Site.Data.failure}}
        <h3>{{.year}}</h3>
        {{range .fails}}
        <li class="statement">{{.}}</li>
        <br>
        {{end}}
        {{end}}
    </div>
</html> 