<h2>about</h2>
<div class="bio" id="bio">
    <div class="outer-bio">
        <div class="intro">
            <p class="bio">
                ✨ Hi, and thanks for checking out my site! I'm a chemistry nerd and aspiring developer who is interested in the health tech, fintech and environmental tech.
                Currently, I'm studying <a class="highlight">Computer Science</a> and planning to minor in <a class="highlight">Biochemistry</a> at the 
                <a href="https://www.ubc.ca/" class="highlight">University of British Columbia</a>.
                <br><br>
                Outside of studying I can be found lifting weights, watching Shiba Inu videos, or listening to kpop. 
                I am also co-leadin the software app development of a mobile application for MS patients at 
                 <a href="http://www.ubcbest.com/" class="highlight" target="_blank">UBC BEST</a>
         (Biomedical Engineering Student Team). 
                <br><br> 
                You can reach me at 
                <a href="mailto:hao.lucyy@gmail.com" class="highlight">hao.lucyy@gmail.com</a>!
            </p>
            <a href="/res/resume.pdf" style="text-decoration: none; color: black;" target="_blank"><div class="button">
                <p class="resume" style="padding: 5px;">Resume</p>
            </div></a>
        </div>
        <img src="/res/profile.svg" alt="/res/profile.png">
    </div>
</div>

