<header>
    <a href="{{ .Site.BaseURL }}" class="curr">home </a>
    <a href="{{ .Site.BaseURL }}/about">about </a>
    <a href="{{ .Site.BaseURL }}/classes">courses </a>
    <a href="{{ .Site.BaseURL }}/projects">projects </a>
    <a href="{{ .Site.BaseURL }}/failures">failures </a>
</header>

<div class="landing center" id="landing">
        <h1 class="header">Hi, I'm <a class="name">Lucy</a>!
            <img class="shibe" src="/res/doge.png">
            </h1> 
            <h3 class="lesser-header">Who am I?</h3>
            <p class="statement">
                I'm a 2nd year <a class="highlight" href="https://www.cs.ubc.ca/" target="_blank">👩🏻‍💻 Computer Science</a> major and (hopeful) <a class="highlight">🧬 Biochemistry</a> minor at the <a href="https://www.ubc.ca/" class="highlight" target="_blank">University of British Columbia</a>.
                This January, I am on a work term! I am currently a software developer intern at <a class="highlight" href="http://www.proofcentre.ca/" target="_blank">The Centre of Excellence for Prevention of Organ Failure</a>, a biotechnology company, and undergraduate TA for <a class="highlight" href="https://courses.students.ubc.ca/cs/courseschedule?pname=subjarea&tname=subj-course&dept=CPSC&course=210" target="_blank">CPSC 210</a>.
            </p>
            <h3 class="lesser-header">What else am I doing?</h3>
            <p class="statement">I'm a developer at <a class="highlight" href="http://www.ubcbest.com/" target="_blank">UBC BEST</a> and I co-lead the software component of M2M - Multiple Sclerosis to Movement, an emerging 
                mobile app that hopes to faciliate therapy with fun games. Additionally, I lead outreach operations at <a href="https://www.starhacks.tech/" class="highlight" target="_blank">StarHacks</a>.</p>
            <h3 class="lesser-header">Time for fun facts!</h3>
            {{ range $.Site.Data.me}}
            <p class="statement">{{.fact}}</p>
            {{end}}
            <div class="music">
                <p class="statment">🎶 A peek at my current vibe:</p>
                <div class="songs" style="display: flex; justify-content: space-between;">
                {{ range $.Site.Data.songs}}
                    <iframe class="song1" src={{.link}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    {{end}}
                </div>
                <p class="statment">All credits to Spotify</p>
            </div>
</div>