<header>
    <a href="home" class="curr">home </a>
    <a href="about">about </a>
    <a href="classes">courses </a>
    <a href="projects">projects </a>
    <a href="failures">failures</a>
</header>

<div class="landing center" id="landing">
        <h1 class="header">Hi, I'm <a class="name">Lucy</a>!
            <img class="shibe" src="/res/doge.png">
            </h1> 
            <h3 class="lesser-header">Who am I?</h3>
            <p class="statement">
                I'm a 2nd year <a class="highlight">👩🏻‍💻 Computer Science</a> major and (hopeful) <a class="highlight">🧬 Biochemistry</a> minor at the <a href="https://www.ubc.ca/" class="highlight" target="_blank">University of British Columbia</a>.
                This January, I'll be on a work term!
            </p>
            <h3 class="lesser-header">What am I doing?</h3>
            <p class="statement">Coming into second year I promised myself I'd get more involved in my University. I've joined <a class="highlight">UBC BEST</a> as a developer to lead the software component of M2M - Multiple Scerolis to Movement, an emerging 
                mobile app that hopes to faciliate therapy with fun games. I'm also dabbling in code at <a class="highlight">UBC Launchpad</a>. Additionally, to help expose under represented groups to technology,
            I'm leading the outreach operations at <a href="https://www.starhacks.tech/" class="highlight" target="_blank">StarHacks</a>.</p>
            <h3 class="lesser-header">Time for fun facts!</h3>
            <p class="statement">I'm a wannabe powerlifter. At my peak (right before covid), I could deadlift 205lbs, or double my body weight.</p>
            <div class="music">
                <p class="statment">A peek at my current vibe:</p>
                <iframe class="song1" src="https://open.spotify.com/embed/track/14gkWVFMwdxBMyqBw1wmIg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="song2" src="https://open.spotify.com/embed/track/2xtP8RNbo2BEMzLX7tK7aq" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
</div>