<!DOCTYPE html>
<html lang="en">
    {{partial "head/head.html" .}}
    <body>
        <!-- begin content -->
        <div class="landing" id="landing">
            {{partial "landing/landing.html" . }}
        </div>

        <!-- bio  -->
        <h2>about</h2>
        <div class="bio" id="bio">
            {{partial "bio/bio.html" . }}
        </div>
        <!-- end bio -->
      
        <!-- jobs -->
        <!-- <h2>experiance</h2>
        <div class="jobs" id="jobs">
            {{partial "jobs/jobs.html" . }}
        </div> -->
        <!-- end jobs  -->

        <!-- projects -->
        <h2>projects</h2>
        <div class="projects" id="projects">
            {{partial "projects/projects.html" . }}
        </div>
        <!-- end projects  -->

        <!-- <h2>awards</h2>
        <div class="awards" id="awards">
            {{partial "awards/awards.html" .}}
        </div> -->
     
        <div class="contact" id="contact">
            <h2>contact</h2>
           <div class="links" style="margin: auto;">
            {{range $.Site.Data.links}}
            <a href="{{.link}}" target="_blank" style="font-family: 'Open Sans'; text-decoration: none;">
            <img src="{{.fa}}"></a>
            {{end}}
           </div>
           <p>&copy; Lucy Hao 2020</p>
        </div>
        <!-- end content  -->

        <!-- load js stuff -->
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    </body>
</html>