<div class="center">
    <h1 class="header">hi, i'm <a class="name">lucy</a>!
        <img class="shibe" style="height: 50px;" src="/res/doge.png">
        </h1> 
<p class="statement">I was born in <a class="highlight" >California</a></p>
<p class="statement">I am a <a class="highlight" >computer science</a> student at <a class="highlight">UBC</a></p>
<p class="statement">I am <a class="highlight">lactose intolerant</a> but my favourite food is <a class="highlight">ice cream</a></p>
<p class="statement">I can <a class="highlight">deadlift</a> double my weight</p>
<p class="statement">I am a <a class="highlight">developer</a> in <a class="highlight">UBC Launchpad</a> and <a class="highlight">UBC BEST</a> </p>
<div class="arrow">
    <a href="#bio"><img class="arrow" src="/res/arrow.svg" alt=""></a>
</div>
</div>