<div class="intro">
    <p class="bio">
        ✨ Hi, and thanks for checking out my site! I'm a chemistry nerd turned aspiring developer who is interested in the intersection of health and technology.
        Currently, I'm back home in Calgary where I'm studying Computer Science at UBC.
        <br><br>
        Outside of studying I can be found knocking out some weights, watching Shiba Inu videos, or thinking about outrageous ideas that I'd love to share. 
        I am also part of the outreach team at <a href="https://www.starhacks.tech/" style="text-decoration: none; color:  #94A89A;">StarHacks</a>, a female and non-binary virtual hackathon and I mentor high school females about topics in computer science. 
        <br><br> 
        If you want to know more about my decision to pursue computer science or why shiba inus are the best, I'd love to talk to you! I can contacted at
        <a href="mailto:hao.lucyy@gmail.com" style="text-decoration: none; color:  #94A89A;">hao.lucyy@gmail.com</a>!
    </p>
    <a href="/res/resume.pdf" style="text-decoration: none; color: black;" target="_blank"><div class="button">
        <p class="resume">Resume</p>
    </div></a>
    <a style="text-decoration: none; color: black;"><div class="button">
        <p class="resume">Blog - Coming soon!</p>
    </div></a>
</div>
<img src="/res/profile.svg" alt="/res/profile.png">
