<div class="intro">
    <p class="bio">
        I'm a computer science student dabbling in microbiology and immunology
        at the University of British Columbia.
        My interests lie in bioinformatics and
        computational chemistry. Besides coding,
        fitness and health are also a large part of
        my life. I was a vegan cross country
        runner and now am a macro counting weightlifter. 
        I would love to talk about fitness, chemistry, 
        or computer science related and you can contact me at
        <a href="mailto:hao.lucyy@gmail.com" style="text-decoration: none; color: black;">hao.lucyy@gmail.com</a>!
    </p>
    <a href="/res/resume.pdf" style="text-decoration: none; color: black;"><div class="button">
        <p class="resume">Resume</p>
    </div></a>
</div>
<img src="/res/profile.svg" alt="/res/profile.png">
