<div class="intro">
    <p class="bio">
        I'm a computer science student with a focus in
        microbiology and immunology
        at the University of British Columbia.
        Outside of writing code that doesn't compile, I am passionate about
        fitness and health. I was a vegan cross country
        runner and now am a macro counting weightlifter. 
        I would love to talk about fitness, chemistry, 
        or computer science related and you can contact me at
        <a href="mailto:hao.lucyy@gmail.com" style="text-decoration: none; color: black;">hao.lucyy@gmail.com</a>!
    </p>
    <a href="/res/resume.pdf" style="text-decoration: none; color: black;"><div class="button">
        <p class="resume">Resume</p>
    </div></a>
    <a href="" style="text-decoration: none; color: black;"><div class="button">
        <p class="resume">Blog</p>
    </div></a>
</div>
<img src="/res/profile.svg" alt="/res/profile.png">
